/** Filters style **/

div.container .filters{
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
  
}

div.container .filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 11px 30px 11px 0px;
 }

div.container .filters button:hover{
    opacity: 0.9;
}
